body {
  background-color: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  
}

.navbar {
  background: #d32f2f;
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px; /* Ajuste del ancho máximo player */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Centrar el grid */
.eventos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px;
  padding: 20px;
  max-width: 900px;
  width: 100%;
  justify-content: center;
}

/* Responsive para tablets */
@media (max-width: 900px) {
  .eventos-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }
}

/* Responsive para móviles */
@media (max-width: 600px) {
  .eventos-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 columna */
  }
}

.evento-card {
  background-color: #1e1e1e;
  border-radius: 6px;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.5);
  text-align: center;
}

.evento-card:hover {
  transform: scale(1.05);
}

.evento-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.ver-evento {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease;
}

.ver-evento:hover {
  background: #b71c1c;
}
